<div (click)="onPromptClick()">
  <label for="realPrompt"></label>
  <input id="realPrompt"
         [(ngModel)]="commandText"
         (blur)="onPromptBlur()"
         (keydown)="onKeyDown($event)"
         autofocus>
  <div id="fakePrompt">
    user@maxro.se/local: {{getCurrentState().currentPath.getPath()}} ${{
    promptFocused ?
      commandText.substring(0, promptCaretBeginPos)
      + (isFlash ?
        commandText.substring(promptCaretBeginPos, promptCaretEndPos) + '\u2588'
        :
        '\u2588'.repeat(promptCaretEndPos - promptCaretBeginPos) + commandText.charAt(promptCaretEndPos)
      )
      + commandText.substring(promptCaretEndPos + 1)
      :
      commandText + '\u2588'
    }}
  </div>
</div>
